
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    background-color: lightcyan;
}

nav > span{
    display: block;
    background-color: palegoldenrod;
    font-size: 2.5rem;
    padding: 5px 15px;
}

main{
    margin: 2rem 3rem;
}

legend{
    font-size: 1.8rem;
    font-weight: 700;
}

fieldset{
    border: 3px solid black;
}

fieldset > div{
    padding-left: 1rem;
    padding-bottom: .3rem;
    font-size: 1.1rem;
}